<div id="biography" class="page home" data-pos="home">
  <div class="pageheader">
    <div class="headercontent">
      <div class="section-container">
        <div class="row">
          <div class="col-sm-2 visible-sm"></div>
          <div class="col-sm-8 col-md-5">
            <div class="biothumb">
              <%= image_tag "background-bio.jpg", alt: "image", class: "img-responsive" %>
              <div class="overlay">
                <h1 class="">Nguyễn Xuân Cương</h1>
                <ul class="list-unstyled">
                  <li>Kỹ sư công nghệ thông tin</li>
                  <li>University of engineering and technology</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm visible-xs"></div>
          <div class="col-sm-12 col-md-7">
              <h3 class="title">Cuong Nguyen</h3>
              <p>Tôi sinh ra và lớn lên tại Bình Giang, Hải Dương.</p>
              <p>Năm 2011, tôi bắt đầu là sinh viên năm nhất đại học Công Nghệ, ĐHQG-HN với chuyên ngành công nghệ thông tin. Học tập tại trường với nhiều thầy cô giỏi và môi trường cực kỳ trong sạch và cởi mở là niềm hạnh phúc đối với tôi.
              Năm 2015, tôi tốt nghiệp và bắt đầu với nghề lập trình website.
              Những năm học ở trường với rất nhiều kiến thức nền tảng, và nghề lập trình website đến với tôi từ những ngày năm cuối và đi tới bây giờ. Tôi cảm thấy yêu thích nó và vẫn luôn nỗ lực để nâng cao kỹ năng và làm ra những sản phẩm phục vụ cho nhu cầu thiết thực của mọi người.</p>
              <p>Với công việc công nghệ thông tin, nhưng khao khát cháy bỏng của tôi là nông nghiệp nông thôn. Tôi luôn tin tưởng vào bản thân mình có thể làm được điều gì đó cho nền nông nghiệp phát triển hơn và vẫn luôn nỗ lực phấn đấu từng ngày.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagecontents">
    <div class="section color-1">
      <div class="section-container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="title text-center">
              <h3>Thời gian học tập</h3>
            </div>
            <ul class="ul-dates">
              <li>
                <div class="dates">
                  <span>Present</span>
                  <span>2015</span>
                </div>
                <div class="content">
                  <h4>Kỹ sư công nghệ thông tin</h4>
                  <p>Phát triển website tại  <em>Công ty Framgia Việt Nam</em></p>
                </div>
              </li>
              <li>
                <div class="dates">
                  <span>2015</span>
                  <span>2014</span>
                </div>
                <div class="content">
                  <h4>Thực tập sinh kỹ sữ hệ thống thông tin</h4>
                  <p><em>Công ty Appota Việt Nam</em></p>
                </div>
              </li>
              <li>
                <div class="dates">
                  <span>2015</span>
                  <span>2011</span>
                </div>
                <div class="content">
                  <h4>Cử nhân công nghệ thông tin</h4>
                  <p>Tốt nghiệp đại học <em>University of engineering and technology</em></p>
                </div>
              </li>
              <li>
                <div class="dates">
                  <span>2011</span>
                  <span>2008</span>
                </div>
                <div class="content">
                  <h4>Trung học phổ thông</h4>
                  <p>Trường THPT <em>Bình Giang</em></p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
              <div class="title text-center">
                  <h3>Trường & Học viện</h3>
              </div>
              <ul class="ul-card">
                <li>
                    <div class="dy">
                        <span class="degree">T.L.</span>
                        <span class="year">2004</span>
                    </div>
                    <div class="description">
                        <p class="waht">Đại học Công Nghệ, ĐHQG-HN</p>
                        <p class="where">144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
                    </div>
                </li>
                <li>
                  <div class="dy">
                    <span class="degree">T.L.</span><span class="year">1961</span>
                  </div>
                  <div class="description">
                    <p class="waht">Trường THPT Bình Giang</p>
                    <p class="where">Phủ, Bình Giang, Hải Dương</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <div class="section color-2">
      <div class="section-container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="title text-center">
              <h3>Đồ án, dự án </h3>
            </div>
            <ul class="timeline">
              <li class="open">
                <div class="date">Sept 2015</div>
                <div class="circle"></div>
                <div class="data">
                  <div class="subject">Thế giới du lịch trong bàn tay</div>
                  <div class="text row">
                    <div class="col-md-2">
                      <%= image_tag "ha-noi.jpg", alt: "image", class: "thumbnail img-responsive" %>
                    </div>
                    <div class="col-md-10">
                      Với mục tiêu gắn kết người đam mê du lịch với lưu trữ các khoảnh khắc đẹp. Mong muốn đem tất cả các danh lam thắng cảnh đẹp vào thư viện dễ dàng tìm kiếm.
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="date">2014 - 2015</div>
                <div class="circle"></div>
                <div class="data">
                  <div class="subject">Hệ thống thi trắc nghiệm trực tuyến</div>
                  <div class="text row">
                    <div class="col-md-2">
                      <%= image_tag "fts.png", alt: "image", class: "thumbnail img-responsive" %>
                    </div>
                    <div class="col-md-10">
                      <p>Hệ thống cho phép người quản trị nhập vào ngân hàng đề thi theo từng chủ đề và mức độ khó hay cơ bản. Người dùng có thể đăng ký tài khoản hoặc sử dụng tài khoản facebook. Đăng nhập vào hệ thống và chọn lựa môn học muốn thi, bài thi được sinh tự động từ ngân hàng đề thi và lặp lại trong các bài thi khác cùng chủ đề. Kết quả thi được lưu lại trong lịch sử của người dùng.</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="date">2015</div>
                <div class="circle"></div>
                <div class="data">
                  <div class="subject">Khóa luận tốt nghiệp đại học Công Nghệ</div>
                  <div class="text row">
                    <div class="col-md-2">
                      <%= image_tag "thidaihocvn.png", alt: "image", class: "thumbnail img-responsive" %>
                    </div>
                    <div class="col-md-10">
                    <p>Đề tài "Xây dựng hệ thống ôn thi đại học trực tuyến", dự án nhằm mục đích cung cấp tới cho người dùng môi trường tiếp cận thông tin từ các nguồn tri thức chính thống. Về kiến trúc chính của hệ thống cung cấp 3 mức độ chức năng quyền hạn cho người dùng. Đó là người quản trị hệ thống, quản trị nội dung và các người dùng bình thường.Mỗi người dùng đều có thể đăng lên thông tin, kiến thức cá nhân cũng như sưu tập. Quản trị viên quản lý hệ thống, người dùng và nội dung đảm bảo nội dung là tốt tới người đọc.</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
