<div id="contact" class="page stellar">
    <div class="pageheader">
        <div class="headercontent">
            <div class="section-container">

                <h2 class="title">Contact & Meet Me</h2>

                <div class="row">
                    <div class="col-md-8">
                        <h4>Cuong Nguyen</h4><small>Aries</small>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li>
                                <strong><i class="fa fa-envelope"></i>&nbsp;&nbsp;</strong>
                                <span>cuongnx_56@vnu.edu.vn</span>
                            </li>
                            <li>
                                <strong><i class="fa fa-envelope"></i>&nbsp;&nbsp;</strong>
                                <span>cuongnx56@gmail.com</span>
                            </li>
                            <li>
                                <strong><i class="fa fa-skype"></i>&nbsp;&nbsp;</strong>
                                <span>cuongnguyen2503</span>
                            </li>
                            <li>
                                <strong><i class="fa fa-twitter"></i>&nbsp;&nbsp;</strong>
                                <span>cuongnx56</span>
                            </li>
                            <li>
                                <strong><i class="fa fa-facebook"></i>&nbsp;&nbsp;</strong>
                                <span>cuongnguyen.2503</span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagecontents">
        <div class="section contact-office" data-stellar-background-ratio="0.1">
            <div class="section-container">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="title">At My Office</h2>
                        <p>13F, Keangnam - Ha Noi. Framgia Viet Nam</p>
                        <p>I am at my office every day from 7:45 until 16:45 pm.</p>
                    </div>
                    <div class="col-md-4 text-center hidden-xs hidden-sm">
                        <i class="fa fa-coffee fa-huge"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="section color-1">
            <div class="section-container">
                <div class="row">
                    <div class="col-md-4 text-center hidden-xs hidden-sm">
                        <i class="fa fa-stethoscope fa-huge"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="title">At My Home</h2>
                        <p>I rent a small house - My Dinh, Tu Liem, Ha Noi.</p>
                        <p>I like play game (LOL) and coding - i'm developer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section contact-lab" data-stellar-background-ratio="0.1">
            <div class="section-container">
                <div class="row">

                    <div class="col-md-8">
                        <h2 class="title">At My hometown</h2>
                        <p>Thai Hoa - Binh Giang - Hai Duong.</p>
                        <p>I love my hometown, i will come back and do somethings i wish.</p>
                    </div>
                    <div class="col-md-4 text-center hidden-xs hidden-sm">
                        <i class="fa fa-superscript fa-huge"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
