<div id="gallery" class="page">
    <div class="pagecontents">

        <div class="section color-3" id="gallery-header">
            <div class="section-container">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Gallery</h2>
                    </div>
                    <div class="col-md-9">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section color-3" id="gallery-large">
            <div class="section-container">

                <ul id="grid" class="grid">
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/06.jpg">
                            <a href="img/gallery/06.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <i class="fa-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/02.jpg">
                            <a href="img/gallery/02.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/03.jpg">
                            <a href="img/gallery/03.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <i class="fa-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/04.jpg">
                            <a href="img/gallery/04.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/05.jpg">
                            <a href="img/gallery/05.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <i class="fa-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/01.jpg">
                            <a href="img/gallery/01.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/07.jpg">
                            <a href="img/gallery/07.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <i class="fa-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/08.jpg">
                            <a href="img/gallery/08.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <i class="fa-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/09.jpg">
                            <a href="img/gallery/09.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/10.jpg">
                            <a href="img/gallery/10.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <i class="fa-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/11.jpg">
                            <a href="img/gallery/11.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/12.jpg">
                            <a href="img/gallery/12.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <i class="fa-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/07.jpg">
                            <a href="img/gallery/07.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <h3>Image Title</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="image" src="img/gallery/02.jpg">
                            <a href="img/gallery/02.jpg" class="popup-with-move-anim">
                                <div class="over">
                                    <div class="comein">
                                        <i class="fa-search"></i>
                                        <div class="comein-bg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>


                </ul>

            </div>
        </div>
    </div>

</div>
