<div id="gallery" class="page">
  <div class="pagecontents">
    <div class="section color-3" id="gallery-header">
      <div class="section-container">
        <div class="row">
          <div class="col-md-12">
            <h2>Thư viện ảnh</h2>
          </div>
        </div>
      </div>
    </div>
    <% if Album.all.any? %>
      <div class="section color-3" id="gallery-large">
        <div class="section-container">
          <ul id="grid" class="grid">
            <% Album.all.first.images.each do |img| %>
              <li>
                <div>
                  <%= image_tag img.name.medium.url, alt: "image" %>
                  <a href=<%= img.name.url %> class="popup-with-move-anim">
                    <div class="over">
                      <div class="comein">
                        <i class="fa fa-search"></i>
                        <div class="comein-bg"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
