<div id="sidebar">
  <div id="main-nav">
    <div id="nav-container">
      <div id="profile" class="clearfix">
        <div class="portrate hidden-xs"></div>
        <div class="title">
            <h2>Nguyễn Xuân Cương</h2>
            <h3>University of engineering and technology</h3>
        </div>
      </div>
      <ul id="navigation">
        <li>
          <a href="#biography">
            <div class="fa fa-user"></div>
            <div class="text">Về tôi</div>
          </a>
        </li>

<!--         <li>
          <a href="#research">
            <div class="fa fa-book"></div>
            <div class="text">Research</div>
          </a>
        </li>

        <li>
          <a href="#publications">
            <div class="fa fa-edit"></div>
            <div class="text">Publications</div>
          </a>
        </li>

        <li>
          <a href="#teaching">
            <div class="fa fa-clock-o"></div>
            <div class="text">Teaching</div>
          </a>
        </li> -->

        <li>
          <a href="#gallery">
            <div class="fa fa-picture-o"></div>
            <div class="text">Thư viện ảnh</div>
          </a>
        </li>

        <li>
          <a href="#contact">
            <div class="fa fa-calendar"></div>
            <div class="text">Liên hệ</div>
          </a>
        </li>

        <li class="external">
          <a href="#">
            <div class="fa fa-download"></div>
            <div class="text">Blog</div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="social-fas">
    <ul>
      <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
